#editor-wrapper {
    display: flex;
    flex-direction: column;
    background-color: #000;
    flex-grow: 1;

    .editor-meta {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        padding: 20px 30px;
        border-bottom: 1px solid $color-divider;
    }

    .editor {
        display: flex;
        flex-grow: 1;
        margin: 20px 0;
    }
}