.popup-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .8);
    z-index: 999999;

    .popup-content {
        display: flex;
        flex-direction: column;
        min-width: 500px;
        min-height: 250px;
        border-radius: 20px;
        background-color: #050505;
        padding: 40px;
        text-align: center;
    }
}