$sidebar-padding-horizontal: 20px;

#sidebar {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    overflow-y: auto;
    width: 380px;
    background-color: $color-bg-sidebar;
    border-right: 1px solid $color-divider;
    user-select: none;

    .project-panel-navigator {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        padding: 10px 0 0;
        
        h3 {
            padding: 5px $sidebar-padding-horizontal;
        }

        .views, .components, .images, .generic {
            padding: 10px 0;

            .file-category-header {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                padding: 0 $sidebar-padding-horizontal;

                .icon {
                    color: #555;
                }
            }
        }
    }

    .snippet-panel {
        padding: 10px 0 0;
        
        h3 {
            padding: 5px $sidebar-padding-horizontal;
        }

        .snippet-items {
            display: flex;
            flex-direction: column;

            .sidebar-interactive-item {
                span {
                    color: #fff;
                }
            }
        }
    }

    .sidebar-interactive-item {
        display: flex;
        align-items: center;
        padding: 10px $sidebar-padding-horizontal;

        span {
            margin-left: 15px;
        }

        .icon {
            color: $color-accent;
        }

        &.active {
            color: #fff;
            background-color: rgba(255, 255, 255, .05);

            .icon {
                color: #fff;
            }

            &:hover {
                background-color: rgba(255, 255, 255, .05);
            }
        }

        &:hover {
            background-color: rgba(255, 255, 255, .05);
        }
    }
}

.create-new-file-popup {
    display: flex;
    flex-direction: column;
    align-items: center;

    input {
        margin-top: 20px;
        width: 200px;
    }

    .new-file-actions {
        display: flex;
        flex-direction: row;
        justify-content: center;
        user-select: none;
        margin-top: 40px;

        .secondary {
            margin-left: 20px;
        }
    }
}