$sidebar-padding-horizontal: 20px;

#sidebar {
    width: 300px;
    background-color: $color-bg-sidebar;
    border-right: 1px solid $color-divider;
    user-select: none;

    .sidebar-header {
        display: flex;
        flex-direction: column;
        padding: 40px $sidebar-padding-horizontal;
    }

    .sidebar-navigator {
        display: flex;
        flex-direction: column;

        .views, .components, .generic {
            padding: 10px 0;

            h4 {
                padding: 0 $sidebar-padding-horizontal;
            }
        }

        .project-file-item {
            display: flex;
            align-items: center;
            padding: 10px $sidebar-padding-horizontal;

            span {
                margin-left: 15px;
            }

            .icon {
                color: $color-accent;
            }

            &.active {
                color: #fff;
                background-color: rgba(255, 255, 255, .05);
            }

            &:hover {
                background-color: rgba(255, 255, 255, .05);
            }
        }
    }
}