.tabs {
    display: flex;
    flex-direction: row;
    flex-grow: 1;

    .tabs-header {
        display: flex;
        flex-direction: column;
        cursor: default;
        border-right: 1px solid $color-divider;

        .tab {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 65px;
            height: 65px;

            .icon {
                color: rgba(255, 255, 255, .33);
            }

            &.active {
                background-color: $color-accent;

                .icon {
                    color: #fff;
                }

                &:hover {
                    background-color: $color-accent;
                }
            }

            &:hover {
                background-color: rgba(255, 255, 255, .1);
            }
        }
    }

    .tab-content {
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        flex-grow: 1;
    }
}