

h1, h2, h3, h4 {
    font-weight: 400;
    margin: .8em 0;
    color: #fff;
}

h1 {
    font-size: $font-size-xxl;
}

h2 {
    font-size: $font-size-l;
}

h3 {
    font-size: $font-size-m;
}

h4 {
    font-size: $font-size-s;
}

.material-icon {
    position: relative;
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';

    &.action {

        &:before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 150%;
            height: 150%;
            border-radius: 75%;
            background-color: rgba(255, 255, 255, .1);
            transform: scale(.8) translate(-50%, -50%);
            opacity: 0;

            -webkit-transition: all .1s ease-in-out;
        }

        &:hover {
            color: #fff !important;

            &:before {
                transform: scale(1) translate(-50%, -50%);
                opacity: 1;
            }
        }
    }
}