
// ----- COLORS

$color-accent: #4444ff;
$color-text: #888;
$color-divider: #111;
$color-bg-sidebar: #000;
$color-bg-welcome: #000;


// ----- FONT SIZES

$font-size-xxl: 48px;
$font-size-xl: 32px;
$font-size-l: 24px;
$font-size-m: 18px;
$font-size-s: 16px;
$font-size-xs: 14px;
$font-size-xxs: 12px;