@import 'variables';
@import 'reset';
@import 'fonts';
@import 'generic';

body {
    display: flex;
    margin: 0;
    font-family: 'Maison Neue', sans-serif;
    font-size: $font-size-s;
    color: $color-text;

    #carousel, #carousel-content, #app {
        display: flex;
        flex-grow: 1;
    }
}


// Scrollbar Style
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #131313;
} 

::-webkit-scrollbar-thumb {
    background-color: #333;
}



@import '../components/Sidebar';
@import '../components/Welcome';
@import '../components/Editor';
@import '../components/Popup';